//- title: Index Page
extends layouts/_layout
block head
  - var title = 'Новости - статья'
  - var activeMenu = -1
block content
  .layout
    .news-single
      a.back-link(href="#")
        include data/arr-long-left.svg
      // start article
      article.article
        header.article-header
          .article-img
            .container.container-no-img
          .article-header-content
            .container
              .date
                h3 12
                .clearfix.date_in
                  p мар
                  span '17
              .desc
                h1.article-title.lined Компания «ЛабКвест» вышла на рынок лабораторной диагностики РФ
                p.article-subtitle В Москве открылся лабораторный комплекс АО «ЛабКвест». Компания начала свое развитие с сотрудничества с медучреждениями Москвы и регионов.
        .article-text
          .container
            p Пятой страной присутствия бренда LabQuest стала Армения. 27 февраля 2017 года первый офис медицинской компании начал свою работу в Ереване. Первый запрос на сотрудничество был получен компанией еще в 2013 году, но в то время действовал запрет на ввоз биоматериала на территорию России, а строительство лаборатории в Армении было экономически нецелесообразно. 
            p В конце 2014 года Армения вошла в Таможенный союз, и с начала 2015 года, когда закон вступил в силу, появилась возможность для сотрудничества. При этом письменное подтверждение разрешения на вывоз биологического материала из Армении, а также ввоз его на территорию России был получен только 27 июня 2016 года. В конце августа 2016 года успешно состоялась первая тестовая отправка биоматериала, и с этого момента Лабквест начала активно готовиться к открытию медицинских офисов на территории Армении. 
            .img-row
              .row
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                  img(src="img/article-img1.jpg" alt="")
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                  img(src="img/article-img2.jpg" alt="")
            p В течение двух ближайших лет в крупных городах Армении откроется 10 медицинских офисов, а к 2020 году их число вырастет до 20. #[br] Таким образом, к 2022 году Лабквест планирует практически полностью охватить городское население Армении, которое составляет не более 2,5 млн человек. 
            p В Армении Лабквест планирует развиваться по программе франчайзинга. Компания активно привлекает новых партнеров, причем чтобы подключиться к программе, франчайзи необязательно иметь медицинское образование: всю необходимую информацию предоставляет франчайзер. Сегодня компания предлагает франчайзинговый пакет «Лабквест. Стандарт» — это два варианта открытия медицинского офиса под брендом компании: инвестор может выбрать только услуги лабораторной диагностики или добавить к ним пакет дополнительных медицинских услуг (УЗИ, ЭКГ и др.). Франчайзинговая модель предусматривает открытие медицинского офиса с процедурным кабинетом и кабинетом врача-консультанта. В медицинском офисе проводится взятие биологического материала, который в дальнейшем отправляется на исследование в одну из девяти собственных лабораторных комплексов Лабквест. 
            p Продуманная логистическая система и современное оборудование дают Лабквест возможность получать результаты большинства анализов в течение суток с момента взятия биоматериала. Результаты исследований направляются пациенту по электронной почте, также они доступны в личном кабинете на сайте www.invitromed.am, а при желании их можно забрать в медицинском офисе. Независимо от выбранного способа, Лабквест гарантирует конфиденциальность личной информации. В медицинском офисе пациентов бесплатно консультирует врач, который поможет расшифровать полученные результаты исследований.
        footer.article-footer
          .container
            .topic-label
             .circle
               include data/label.svg
             span.text Новости компании
      // end article
      // start news
      .blc_news.blc_news_inner
        .blc_news_ttl
          .container
            h2 Лента новостей
            .topic-label.topic-label-archive
             span.text Архив
             .circle
               span.icon.icon-cubes
                 .in
        .swiper-container.news_slr
          .swiper-wrapper
            .swiper-slide
              ul.news_list
                li
                  .desc
                    a(href='#')
                      .clearfix.desc_date
                        .date
                          h3 12
                          .clearfix.date_in
                            p мар
                            span '17
                        .d_img
                          img(src='img/news-img.jpg', alt='')
                      .desc_txt
                        h4 Акция «Забота о мужском здоровье»	
                        .brdh
                        p
                          | С 15 по 28 февраля 2017 г. в медицинском отделении LabQuest "Южный"...
                        .read_more
                          span Подробнее
            .swiper-slide
              ul.news_list
                li
                  .desc
                    a(href='')
                      .clearfix.desc_date
                        .date
                          h3 10
                          .clearfix.date_in
                            p мар
                            span '17
                        .d_img
                          img(src='img/empty_news.jpg', alt='')
                      .desc_txt
                        h4 Газета «Собеседник»: как нельзя лечиться от гриппа	
                        .brdh
                        p
                          | Эксперт клинико-диагностической лаборатории LabQuest Сергей Иванов рассказал о том, почему...
                        .read_more
                          span Подробнее
            .swiper-slide
              ul.news_list
                li
                  .desc
                    a(href='')
                      .clearfix.desc_date
                        .date
                          h3 01
                          .clearfix.date_in
                            p мар
                            span '17
                        .d_img
                          img(src='img/empty_news.jpg', alt='')
                      .desc_txt
                        h4 Скидка выходного #[br] дня!	
                        .brdh
                        p
                          | Каждое воскресенье с 12.02.17 по 26.03.17 во всех медицинских отделениях LabQuest действует...
                        .read_more
                          span Подробнее
          .gfs_nav
            .swiper-pagination
            .swiper-button-prev
            .swiper-button-next
      // end news
  include partials/_popups.pug
