//- title: Index Page
extends layouts/_layout
block head
  - var title = 'Новости'
  - var headerTransparent = true
  - var activeMenu = 4
block content
  .layout
    .news
      .page-top
        .container
          h1.section-heading Новости
          a.topic-label.topic-label-link(href="#")
           .circle
             include data/label.svg
           span.text Новости медицины
      .years-filter
        a.year-filter-btn(href="#") ‘15
        a.year-filter-btn(href="#") ‘16
        a.year-filter-btn.active(href="#") 2017
      .month-filter
        a(href="#") Январь
        a(href="#") Февраль
        a(href="#") Март
        a(href="#") Апрель
        a.active(href="#") Май
        a(href="#") Июнь
        a(href="#") Июль
        a(href="#") Август
        a(href="#") Сентябрь
        a(href="#") Октябрь
        a(href="#") Ноябрь
      // start news
      .blc_news
        ul.news_list
          li
            .desc
              a(href='#')
                .clearfix.desc_date
                  .date
                    h3 12
                    .clearfix.date_in
                      p мар
                      span '17
                  .d_img
                    img(src='img/news-img.jpg', alt='')
                .desc_txt
                  h4 Акция «Забота о мужском здоровье»	
                  .brdh
                  p
                    | С 15 по 28 февраля 2017 г. в медицинском отделении LabQuest "Южный"...
                  .read_more
                    span Подробнее
          li
            .desc
              a(href='#')
                .clearfix.desc_date
                  .date
                    h3 12
                    .clearfix.date_in
                      p мар
                      span '17
                  .d_img
                    img(src='img/empty_news.jpg', alt='')
                .desc_txt
                  h4 Акция «Забота о мужском здоровье»	
                  .brdh
                  p
                    | С 15 по 28 февраля 2017 г. в медицинском отделении LabQuest "Южный"...
                  .read_more
                    span Подробнее
          li
            .desc
              a(href='#')
                .clearfix.desc_date
                  .date
                    h3 12
                    .clearfix.date_in
                      p мар
                      span '17
                  .d_img
                    img(src='img/empty_news.jpg', alt='')
                .desc_txt
                  h4 Акция «Забота о мужском здоровье»	
                  .brdh
                  p
                    | С 15 по 28 февраля 2017 г. в медицинском отделении LabQuest "Южный"...
                  .read_more
                    span Подробнее
          li
            .desc
              a(href='#')
                .clearfix.desc_date
                  .date
                    h3 12
                    .clearfix.date_in
                      p мар
                      span '17
                  .d_img
                    img(src='img/news-img.jpg', alt='')
                .desc_txt
                  h4 Акция «Забота о мужском здоровье»	
                  .brdh
                  p
                    | С 15 по 28 февраля 2017 г. в медицинском отделении LabQuest "Южный"...
                  .read_more
                    span Подробнее
          li
            .desc
              a(href='#')
                .clearfix.desc_date
                  .date
                    h3 12
                    .clearfix.date_in
                      p мар
                      span '17
                  .d_img
                    img(src='img/empty_news.jpg', alt='')
                .desc_txt
                  h4 Акция «Забота о мужском здоровье»	
                  .brdh
                  p
                    | С 15 по 28 февраля 2017 г. в медицинском отделении LabQuest "Южный"...
                  .read_more
                    span Подробнее
          li
            .desc
              a(href='#')
                .clearfix.desc_date
                  .date
                    h3 12
                    .clearfix.date_in
                      p мар
                      span '17
                  .d_img
                    img(src='img/empty_news.jpg', alt='')
                .desc_txt
                  h4 Акция «Забота о мужском здоровье»	
                  .brdh
                  p
                    | С 15 по 28 февраля 2017 г. в медицинском отделении LabQuest "Южный"...
                  .read_more
                    span Подробнее
          li
            .desc
              a(href='#')
                .clearfix.desc_date
                  .date
                    h3 12
                    .clearfix.date_in
                      p мар
                      span '17
                  .d_img
                    img(src='img/news-img.jpg', alt='')
                .desc_txt
                  h4 Акция «Забота о мужском здоровье»	
                  .brdh
                  p
                    | С 15 по 28 февраля 2017 г. в медицинском отделении LabQuest "Южный"...
                  .read_more
                    span Подробнее
          li
            .desc
              a(href='#')
                .clearfix.desc_date
                  .date
                    h3 12
                    .clearfix.date_in
                      p мар
                      span '17
                  .d_img
                    img(src='img/empty_news.jpg', alt='')
                .desc_txt
                  h4 Акция «Забота о мужском здоровье»	
                  .brdh
                  p
                    | С 15 по 28 февраля 2017 г. в медицинском отделении LabQuest "Южный"...
                  .read_more
                    span Подробнее
          li
            .desc
              a(href='#')
                .clearfix.desc_date
                  .date
                    h3 12
                    .clearfix.date_in
                      p мар
                      span '17
                  .d_img
                    img(src='img/empty_news.jpg', alt='')
                .desc_txt
                  h4 Акция «Забота о мужском здоровье»	
                  .brdh
                  p
                    | С 15 по 28 февраля 2017 г. в медицинском отделении LabQuest "Южный"...
                  .read_more
                    span Подробнее
      // end news
  include partials/_popups.pug
