@font-face {
    font-family: 'DINPro';
    src: url('../fonts/dinpro/DINPro-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/dinpro/DINPro-Light.otf') format('opentype'), url('../fonts/dinpro/DINPro-Light.woff') format('woff'), url('../fonts/dinpro/DINPro-Light.ttf') format('truetype'), url('../fonts/dinpro/DINPro-Light.svg#DINPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('../fonts/dinpro/DINPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/dinpro/DINPro-Regular.otf') format('opentype'), url('../fonts/dinpro/DINPro-Regular.woff') format('woff'), url('../fonts/dinpro/DINPro-Regular.ttf') format('truetype'), url('../fonts/dinpro/DINPro-Regular.svg#DINPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('../fonts/dinpro/DINPro-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/dinpro/DINPro-Medium.otf') format('opentype'), url('../fonts/dinpro/DINPro-Medium.woff') format('woff'), url('../fonts/dinpro/DINPro-Medium.ttf') format('truetype'), url('../fonts/dinpro/DINPro-Medium.svg#DINPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('../fonts/dinpro/DINPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/dinpro/DINPro-Bold.otf') format('opentype'), url('../fonts/dinpro/DINPro-Bold.woff') format('woff'), url('../fonts/dinpro/DINPro-Bold.ttf') format('truetype'), url('../fonts/dinpro/DINPro-Bold.svg#DINPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('../fonts/dinpro/DINPro-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/dinpro/DINPro-Black.otf') format('opentype'), url('../fonts/dinpro/DINPro-Black.woff') format('woff'), url('../fonts/dinpro/DINPro-Black.ttf') format('truetype'), url('../fonts/dinpro/DINPro-Black.svg#DINPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}
